fastapi
fastapi[standard]
uvicorn
python-jose[cryptography]
python-multipart
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
supabase
pydantic
python-dotenv
mcp
httpx
rapidfuzz
agno
groq
openai